html, body {
  margin: 0;
  padding: 0;
  max-height: 100vh;
  background-color: #c3e6f5;
}

body {
  padding: 3rem 1rem;
}


.game-container {
  width: max-content;
  padding: 2rem 4rem;
  margin: 0 auto;
  background-color: whitesmoke;
  border: 2px solid darkgray;
  border-radius: 1.5rem;
  box-shadow: 4px 4px 6px grey;
}

.title {
  margin: 0;
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
}

.game-board {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 2px;
  grid-template: repeat(3,1fr) / repeat(3, 1fr);
  margin: 2rem 0 1rem;
}

.cell {
  height: 100px;
  width: 100px;
  background-color: #d2d2d2;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  cursor: pointer;
  border-radius: 0.5rem;
}

.cell:hover {
  background-color: rgb(230, 230, 230);
}

.button-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}

.button-panel button {
  flex: 1 1 auto;
  max-width: 4rem;
}

.message {
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
}